body {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: normal;
    color: #4b5563;
}
h1 {
    background: white;
    color: rgb(55, 65, 81);
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
h1::first-letter {
    font-size: 1.5em; /* tamaño 2 veces más grande */
    font-weight: bold; /* opcional: negrita */
}
#main {
    margin: 0 auto;
    max-width: 55em;
    padding-left: 0.42em;
    padding-right: 0.42em;
    position: relative;
}
h2 {
    align-items: center;
    background: #eee;
    color: black;
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.8em;
    font-weight: 50;
    margin-bottom: 0;
    margin-top: 1.5em;
    padding: 0.5em 0.3em;
}
p {
    text-align: justify;
    line-height: 1.6;
}
.code {
    color: #6b7280;
    background-color: #f8f8f8;
    white-space: pre;
    padding: 1em;
    font-family: "Inconsolata", monospace;
    font-size: 0.9em;
}
img {
    height: 300px; /* defines la altura */
    width: auto; /* el ancho se ajusta automáticamente */
    object-fit: cover; /* opcional: recorta si no encaja exacto */
}
a {
    color: #005df9;
    text-decoration: none;
}
#title {
    text-decoration: none;
    color: rgb(55, 65, 81);
}
a:hover {
    text-decoration: underline;
}
.article {
    color: #4b5563;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 1em;
}

.article-header {
    display: flex;
    justify-content: space-between; /* separa los dos elementos */
    align-items: center; /* centra verticalmente */
}
.tl {
    text-align: center; /* centra el texto dentro del div */
}
#line {
    height: 1px;
    width: auto;
    background-color: black;
    opacity: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
#navBar {
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    font-size: 1.2em;
    font-weight: bold;
}
.t {
    color: #4b5563;
}
#fr {
    white-space: pre-line;
    text-align: right;
}
