body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #015d6d;
  color: white;
  padding: 1em 0;
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  color: #cee6ff;
  font-size: 17px;
}

#hero {
  background-color: #a8e6ff;
  text-align: center;
  padding: 2em 0;
  margin-top: 80px; 
}

#about, #projects, #contact #games{
  padding: 2em;
}
section#games{
  padding: 2em;
}

.project-card {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: space-between;
}
.project-card:hover{
  background-color: #d7e9fd;
}

.project-card a:hover {
  color: #007BFF;
}

#contact {
  text-align: center;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin: 0 1em;
}

.social-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.social-links a:hover {
  color: #007BFF;
}

footer {
  background-color: #015d6d;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.textAling {
  width: 50em;
}

.cardImg{
  height: 100px;
  border: 3px solid rgb(105, 105, 105);
}
.icon{
  height: 13px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 3px;
}
.gmail{
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.background{
  height: 100px;
}